
{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-6 col-lg-8 color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam adipisci dicta perspiciatis voluptatibus consectetur vitae, quibusdam odio, maiores, atque alias accusamus id in fugit rerum nam. Qui libero magnam tenetur.
			</div>

			<div class="col-xs-6 col-sm-8 col-md-6 col-lg-4 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime dicta sit nemo cum earum eaque explicabo, minus tenetur a facilis accusamus, ipsam distinctio nostrum, totam perspiciatis aliquam nesciunt ut!
			</div>
		</div>
	</div>


	<ul class="nav nav-tabs">
		<li><a href="#">Enlace</a></li>
		<li><a href="#">Enlace</a></li>
		<li><a href="#">Enlace</a></li>
		<li><a href="#">Enlace</a></li>
		<li><a href="#">Enlace</a></li>
	</ul>

	<button></button>

{% endblock %}
